          {% if site.dribbble %}<a href="http://dribbble.com/{{ site.dribbble }}">{% include svg-icons/dribbble.html %}</a>{% endif %}
          {% if site.email %}<a href="mailto:{{ site.email }}">{% include svg-icons/email.html %}</a>{% endif %}
          {% if site.facebook %}<a href="http://facebook.com/{{ site.facebook }}">{% include svg-icons/facebook.html %}</a>{% endif %}
          {% if site.flickr %}<a href="http://flickr.com/{{ site.flickr }}">{% include svg-icons/flickr.html %}</a>{% endif %}
          {% if site.github_username %}<a href="http://github.com/{{ site.github_username }}">{% include svg-icons/github.html %}</a>{% endif %}
          {% if site.instagram %}<a href="http://instagram.com/{{ site.instagram }}">{% include svg-icons/instagram.html %}</a>{% endif %}
          <a href="http://linkedin.com/in/{{ site.linkedin_username }}">{% include svg-icons/linkedin.html %}</a>
          {% if site.pinterest %}<a href="http://pinterest.com/{{ site.pinterest }}">{% include svg-icons/pinterest.html %}</a>{% endif %}
          <a href="http://stackoverflow.com/{{ site.stackoverflow }}">{% include svg-icons/stackoverflow.html %}</a>
          {% if site.twitter_username %}<a href="http://twitter.com/{{ site.twitter_username }}">{% include svg-icons/twitter.html %}</a>{% endif %}
